// project specific CSS goes here

////////////////////////////////
		//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;
$bwhite: #eeeeee; // badge_white
$bgray: #afafaf; // badge_gray
$tblue: #346be0; // today_blue
$tbeige: #e9e9e9; // today_beige

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

// main containers needs left off for don't be hide for the navbar

.main {
  margin-left: 50px;
}


// navbar

.left_navbar {
  position: fixed;
  height: 100vh;
  width: 50px;
  border-right: 1px solid rgba(175, 175, 175, .4);
}

.nav-icon {
  font-size: 30px;
  margin: 4px 0 10px 0 !important;
  padding: 7px;
}

.nitem-left  {
  margin: 8px 0;
  font-size: 22px;
  padding: 10px;
  &:hover {
    background: rgb(24, 111, 226);
    background: linear-gradient(90deg, rgba(24, 111, 226,1) 0%, rgba(24, 111, 226,1) 3%, rgba(223,224,255,1) 17%, rgba(222,223,255,1) 99%);
  }
}

.nitem-active,  .nitem-active:hover {
  background: rgb(55, 47, 216);
  background: linear-gradient(90deg, rgba(55, 47, 216,1) 0%, rgba(55, 47, 216,1) 3%, rgba(223,224,255,1) 17%, rgba(222,223,255,1) 99%);
}

.link {
  text-decoration: none !important;
  color: #06006b;
  &:hover {
    color: #186fe2;
  }
}

.lactive, .lactive:hover {
  color: #06006b !important;
}

// Dashboard

.container-dashboard {
  position: absolute;
  left: 4%;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  height: 100vh;
  width: 95vw;  
}

.main-container {
  left: 0;
  width: 75% !important;
  display: flex;
  flex-flow: wrap column;
}

.right-container {
  width:25% !important;
  right: 0;
}

.blue-badge {
  margin: 20px 30px;
  background: #0663b9;
  border-radius: 6px;
  padding: 25px 50px;
  height: 150px;
  h3 {
    margin: 0;
    padding: 0;
  }
  span {
    margin-left: 8px;
  }
}

.badge-title {
  color: $bgray;
  font-size: 18px;
  margin-top: 30px;
}

.badge-dolar {
  font-size: 45px;
  color: $bgray;
}

.badge-content {
  margin-left: 4px;
  font-size: 45px;
  color: $bwhite;
  display: inline;
}

.cash-today {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  padding: 0px 30px;
}

.today-expenses {
  background: $tblue;
  border-radius: 8px;
  padding: 8px 30px;
  h3 {
    font-size:15px;
    color: $bgray;
  }
  h4 {
    font-size: 20px;
    color: $bwhite;
    display: inline;
  }
  span {
    font-size: 20px;
  }
}

.today-income {
  border: 2px solid $tbeige;
  border-radius: 8px;
  padding: 8px 30px;
  h3 {
    font-size: 15px;
    color: $bgray;
  }
  span {
    font-size: 20px;
  }
  h4 {
    display: inline;
  }
}

.month-selector {
  border: 2px solid $tbeige;
  border-radius: 8px;
  padding: 8px 30px;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  div.month-to , div.month-from {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    color: $bgray;
    margin-right: 5px;
    span {
      color: #000;
      margin-left: 8px;
    }
  }
  .selector {
    cursor: pointer;
    margin: 0 5px;
    padding: 0;
    border-left: 1px solid $bgray;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      color: $bgray;
      font-size: 30px;
      margin-left: 15px;
      margin-right: -15px;
    }
  }
}

.dachart {
  margin: 10px 20px;
  padding: 5px 20px;
  canvas {
    width: 100% !important;
    height: 240px !important;
  }
}

.daily-container {
  display: flex;
  flex-flow: wrap row;
  padding: 0 30px;
  height: 120px !important;
  .daily-budget {
    background-color: $tblue;
    border-radius: 6px;
    padding: 8px 40px;
    margin: 0 10px;
    height: 100px;
    h1 {
      font-size: 15px;
      color: $bgray;
      padding: 0;
      margin: 0;
      margin-top: 10px;
    }
    span {
      color: $bgray;
      margin-right: 5px;
      font-size: 35px;
    }
    h4 {
      display: inline;
      font-size: 35px;
      color: $white;
      padding: 0;
      margin: 0;
    }
  }
  .spent-today {
    margin: 0 10px;
    width: 60% !important;
    h1 {
      font-size: 15px;
      color: $bgray;
      padding: 0;
      margin: 0;
      margin-top: 10px;
    }
    div {
      display:flex;
      flex-flow: wrap row;
      align-items: center;
      div {
        span {
          font-size: 35px;
          margin-right: 5px;
          color: $bgray;
        }
        h4 {
          padding: 0;
          margin: 0;
          display: inline;
          color: $tblue;
          font-size: 35px;
        }
      }
      div.progress {
        width: 320px;
        height: 25px;
        margin-left: 20px;
      }
      .edit-btn {
        cursor: pointer;
        margin-left: 15px;
        i {
          font-size: 20px;
          color: $tblue;
        }
      }
    }
  }
}
